.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.list > button {
    background-color: rgb(40, 40, 40);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s;
}
.list > button:hover { transform: scale(1.04); }
.list > button:active { transform: scale(0.96); }

.viewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.viewer > h1:nth-child(1) {
    margin-bottom: 5px;
}

.viewer > div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
}

.list, .viewer {
    align-self: flex-start;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    padding: 20px;
}