@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "Pusab";
    src: url("/fonts/pusab.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: white;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0;
}

body, button {
    color: var(--text-color);
    font-family: "Montserrat", Arial, sans-serif;
}

h1, p {
    margin: 0;
}

a {
    color: var(--text-color);
}